* {
    padding: 0;
    margin: 0;
}
body {
   color:rgba(160, 160, 160, 0.748) ;
   font-family: 'Source Sans Pro', sans-serif;
}



ul {
    list-style-type: none;
}
li{
    margin: 10px;
}

a:link {
    color: rgba(160, 160, 160, 0.748);
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 14px;
    
}
a:visited {
    color: rgba(160, 160, 160, 0.748);
    text-decoration: none;
    text-align: center;
    
}
a:hover {
    color: orange;

}
a:active {
    color: orange;
}




#logo {
    text-align: left;
}
.cp {
    font-size: smaller;
}
